@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/* set default values */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #24252A;
    font-family: 'Roboto', sans-serif;
}

/* for header element set display items to flex determining box type element generates, justify content by specifying space between elements along the same axis, and align items center with a padding  */
header {
    display: flex;
    /* push everything right */
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

/* target list, hyperlink, buttons 
set font size, weight, text color, text decoration and font style */
li, a, button {
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* set order to third to reverse order of HTML dom layout */
.logo {
    cursor: pointer;
    order: 3;
    margin-left: auto;
}

/* set order to first in dom */
.nav {
    order: 1;
}

/* remove styling from nav-links class elements */
.nav-links {
    list-style: none;
}
/* display elements inline with block, provide padding left and right */
.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}
/* nav-links list items nth child selecting the first child set padding */
.nav-links li:nth-child(1) {
    padding: 0 20px 0 0;
}

/* class navlinks list hyperlink items nested */
.nav-links li a {
    transition: all 0.3s ease 0s;
}

/* class hyperlink items list elements with hyperlink value hover effect */
.nav-links li a:hover {
    color: #008899;
}

/* class name cta set to second order */
.cta {
    order: 2;
}

/* buttong elements set margin left and padding, set a background colour and border style with rounded border radius and set cursor to pointer and give a transition element */
button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 139, 1);
    border: none;
    border-radius: 54px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

/* set hover effect to button to fade alpha colour to indicate interaction */
button:hover {
    background-color: rgba(0, 136, 139, 0.8);
}